<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CaseFileRequester.Logic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BotTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <CaseFileRequester.Logic.Properties.Settings>
            <setting name="Query_Camera" serializeAs="String">
                <value>camara</value>
            </setting>
            <setting name="Query_File" serializeAs="String">
                <value>numero</value>
            </setting>
            <setting name="Query_Year" serializeAs="String">
                <value>anio</value>
            </setting>
            <setting name="Login_Logout" serializeAs="String">
                <value>j_idt24:menuNavigation:j_idt51:j_idt57</value>
            </setting>
            <setting name="Query_Submit" serializeAs="String">
                <value>consultaFiltroSearchButtonSAU</value>
            </setting>
            <setting name="Main_Site" serializeAs="String">
                <value>http://scw.pjn.gov.ar/scw/home.seam</value>
            </setting>
            <setting name="Login_User" serializeAs="String">
                <value>username</value>
            </setting>
            <setting name="Login_Pass" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="Login_Submit" serializeAs="String">
                <value>kc-login</value>
            </setting>
            <setting name="Main_Login" serializeAs="String">
                <value>menuLoginId</value>
            </setting>
            <setting name="Query_RelatedFiles" serializeAs="String">
                <value>btn-lista-relacionados</value>
            </setting>
            <setting name="Query_Site" serializeAs="String">
                <value>http://scw.pjn.gov.ar/scw/homePrivado.seam</value>
            </setting>
        </CaseFileRequester.Logic.Properties.Settings>
        <BotTest.Properties.Settings>
            <setting name="Query_Camera" serializeAs="String">
                <value>camara</value>
            </setting>
            <setting name="Query_File" serializeAs="String">
                <value>numero</value>
            </setting>
            <setting name="Query_Year" serializeAs="String">
                <value>anio</value>
            </setting>
            <setting name="Login_Logout" serializeAs="String">
                <value>j_idt24:menuNavigation:j_idt51:j_idt57</value>
            </setting>
            <setting name="Query_Submit" serializeAs="String">
                <value>consultaFiltroSearchButtonSAU</value>
            </setting>
            <setting name="Main_Site" serializeAs="String">
                <value>http://scw.pjn.gov.ar/scw/home.seam</value>
            </setting>
            <setting name="Login_User" serializeAs="String">
                <value>username</value>
            </setting>
            <setting name="Login_Pass" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="Login_Submit" serializeAs="String">
                <value>kc-login</value>
            </setting>
            <setting name="Main_Login" serializeAs="String">
                <value>menuLoginId</value>
            </setting>
            <setting name="Query_RelatedFiles" serializeAs="String">
                <value>btn-lista-relacionados</value>
            </setting>
            <setting name="Query_Site" serializeAs="String">
                <value>http://scw.pjn.gov.ar/scw/consultaListaRelacionados.seam</value>
            </setting>
        </BotTest.Properties.Settings>
    </userSettings>
</configuration>
